<footer class="text-white mt-auto" style="background-color: #2B2B2B;">
  <div class="container pt-4">
    <!-- Section: Social media -->
    <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <h5>Contáctanos</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Chatea con nosotros</a>
            </li>
            <li>
              <p>Llámanos</p>
              <p>Venta Telefónica (01)619-1616</p>
              <p>Centro de Servicio al Cliente (01)619-1616</p>
              De lunes a domingo de 8:00am a 8:00pm
            </li>
            <li>
              <p>Escríbenos:</p>
              <a href="#!" class="text-white">servicioalcliente@promart.pe</a>
            </li>
            <li>
              <p>Visítanos</p>
              <a href="#!" class="text-white">Ver Tiendas ></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5>Secciones</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Nosotros</a>
            </li>
            <li>
              <a href="#!" class="text-white">Nuestras tiendas</a>
            </li>
            <li>
              <a href="#!" class="text-white">Extra Garantía</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cyber Wow</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cyber Promart</a>
            </li>
            <li>
              <a href="#!" class="text-white">Black Friday</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cyber Monday</a>
            </li>
            <li>
              <a href="#!" class="text-white">Nuestros servicios</a>
            </li>
            <li>
              <a href="#!" class="text-white">Tutoriales de decoración</a>
            </li>
            <li>
              <a href="#!" class="text-white">Venta empresa</a>
            </li>
            <li>
              <a href="#!" class="text-white">Trabaja con nostros</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5>Atención al cliente</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cambios y devoluciones</a>
            </li>
            <li>
              <a href="#!" class="text-white">Comprobantes electrónicos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Comprobante electrónico oriente</a>
            </li>
            <li>
              <a href="#!" class="text-white">Términos y condiciones de compra</a>
            </li>
            <li>
              <a href="#!" class="text-white">Política de privacidad</a>
            </li>
            <li>
              <a href="#!" class="text-white">Derechos ARCO</a>
            </li>
            <li>
              <a href="#!" class="text-white">Mis pedidos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Seguimiento de despacho</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contáctanos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Danos tu opinión</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5>Métodos de pago</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
          </ul>
          <h5>Tecnología</h5>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5>Síguenos en</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">Promart.pe</a>
  </div>
</footer>
