<footer class="text-white mt-auto border-top border-danger" style="background-color: #2B2B2B;">
  <div class="container pt-4">
    <!-- Section: Social media -->
    <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <h5>Contáctanos</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!">Chatea con nosotros</a>
            </li>
            <li>
              <p>Llámanos</p>
              <p>Venta Telefónica (01)619-1616</p>
              <p>Centro de Servicio al Cliente (01)619-1616</p>
              <p>De lunes a domingo de 8:00am a 8:00pm</p>
            </li>
            <li>
              <p>Escríbenos:</p>
              <a href="#!">servicioalcliente@promart.pe</a>
            </li>
            <li>
              <p>Visítanos</p>
              <a href="#!">Ver Tiendas ></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5>Secciones</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!">Nosotros</a>
            </li>
            <li>
              <a href="#!">Nuestras tiendas</a>
            </li>
            <li>
              <a href="#!">Extra Garantía</a>
            </li>
            <li>
              <a href="#!">Cyber Wow</a>
            </li>
            <li>
              <a href="#!">Cyber Promart</a>
            </li>
            <li>
              <a href="#!">Black Friday</a>
            </li>
            <li>
              <a href="#!">Cyber Monday</a>
            </li>
            <li>
              <a href="#!">Nuestros servicios</a>
            </li>
            <li>
              <a href="#!">Tutoriales de decoración</a>
            </li>
            <li>
              <a href="#!">Venta empresa</a>
            </li>
            <li>
              <a href="#!">Trabaja con nostros</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5>Atención al cliente</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#!">Cambios y devoluciones</a>
            </li>
            <li>
              <a href="#!">Comprobantes electrónicos</a>
            </li>
            <li>
              <a href="#!">Comprobante electrónico oriente</a>
            </li>
            <li>
              <a href="#!">Términos y condiciones de compra</a>
            </li>
            <li>
              <a href="#!">Política de privacidad</a>
            </li>
            <li>
              <a href="#!">Derechos ARCO</a>
            </li>
            <li>
              <a href="#!">Mis pedidos</a>
            </li>
            <li>
              <a href="#!">Seguimiento de despacho</a>
            </li>
            <li>
              <a href="#!">Contáctanos</a>
            </li>
            <li>
              <a href="#!">Danos tu opinión</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5>Métodos de pago</h5>
          <ul class="list-unstyled">
            <%= image_tag "promart_pagos.png"%>
          </ul>
          <h5>Tecnología</h5>
            <%= image_tag "promart_tecnologias.png"%>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5>Síguenos en</h5>
          <section class="mb-4">
                <!-- Facebook -->
                <a
                  class="btn btn-primary rounded-circle m-1"
                  style="background-color: #3b5998;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a
                  class="btn btn-primary rounded-circle m-1"
                  style="background-color: #55acee;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-twitter"></i
                ></a>

                <!-- Instagram -->
                <a
                  class="btn btn-primary rounded-circle m-1"
                  style="background-color: #ac2bac;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a
                  class="btn btn-primary rounded-circle m-1"
                  style="background-color: #FF0000;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-youtube"></i
                ></a>
              </section>
          <h5>Sigue también</h5>
            <%= image_tag "otras_tiendas.png"%>
            <%= image_tag "libro_reclamos.png", style: "margin: 15px;"%>
        </div>
    </div>
  </div>

  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">Promart.pe</a>
  </div>
</footer>
